@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*초기화*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*초기화 끝*/

		body{
			margin:0 auto;
			width:100%;
			height:1300px;
			font-family: 'Nanum Gothic', sans-serif;
			background: url("../img/배경.jpg") no-repeat fixed;
			background-size: cover;
			box-sizing:border-box;

		}
		/*해더  부분*/
		header{
			position:relative;
			width: 100%;
			height: auto;
			box-sizing:border-box;
		}
		header>#user_menu{
			position: relative;
			width: 30px;
			height: 30px;
			top: 5px;
			left: 5px;
			z-index: 100;
			
		}
		#main_rogo{
     	margin: 25px 30px auto;
     	text-align:center;
     	box-sizing:border-box;
		}
		#main_rogo img{
			width:100%;
		}
		/*세션 부분*/
		section{
			position: relative;
			width: 100%;
			margin:0 auto;
			height: 710px;
			bottom: 10px;
			box-sizing:border-box;
		}
		section>.main_menu{
		
		}
		section>.main_menu>a{
			color: black;
			text-decoration: none;
		}
		section>.main_menu>a>.menu_name{
			text-align: center;
			font-size: 30px;
			line-height: 120px;
			color: white;
		}
		section>#free_test_h{
			width:100%;height:auto;
			margin-top: 5px;
			background-image: url("../img/h진단.jpg");
			background-size: cover;
			font-weight: 900;
			text-shadow: 0 0 5px #868789;
			box-sizing:border-box;
		}
		section>#draw_test{
			width:100%;height:auto;
			margin-top: 5px;
			background-image: url("../img/그림진단.jpg");
			background-size: cover;
			font-weight: 900;
			text-shadow: 0 0 5px #868789;
			box-sizing:border-box;
		}
		section>#cont_index{
			width:100%;height:auto;
			margin-top: 5px;
			background-image: url("../img/치료종류.jpg");
			background-size: cover;
			font-weight: 900;
			text-shadow: 0 0 5px #868789;
			box-sizing:border-box;
		}
		section>#notice_main{
			width:100%;height:auto;
			margin-top: 5px;
			background-image: url("../img/공지사항.jpg");
			background-size: cover;
			font-weight: 900;
			text-shadow: 0 0 5px #868789;
			box-sizing:border-box;
		}
		section>#customer_center{
			width:100%;height:auto;
			margin-top: 5px;
			background-image: url("../img/고객센터.jpg");
			background-size: cover;
			font-weight: 900;
			text-shadow: 0 0 5px #868789;
			box-sizing:border-box;
		}
		/*푸터 부분*/
		footer{
			width: 100%;
			height: 180px;
			box-sizing:border-box;
		}
		footer>#call_number{
			width: 100%;
			height: 100px;
		}
		footer>#call_number>#call{
			position: relative;
			margin-left:15px;
			font-size: 16px;
			color: #101641;
			top: 35px;
			font-weight: 900;
		}
		footer>#call_number>#number{
			margin-left:10px;
			font-size: 30px;
			color: #cc460b;
			font-weight: 900;
		}
		
		footer #time #time1{
			
			font-size: 14px;
			color: #393939;
			font-weight: 900;
		}
		footer #time #time2{
			margin-left:10px;
			font-size: 14px;
			color: #393939;
		
		}
		footer #time #time3{
			margin-left:10px;
			font-size: 14px;
			color: #393939;
			font-weight: 900;
			
		}

		.custom1{
			margin-left:10px;
			font-size:13px;
		}
		.custom1 span{
			font-weight: 900;
		}
}