h1{
    color:rgb(255, 204, 64);
    
}
body{
    background-color: rgb(210, 239, 252);
}

.center{
  
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;

  
}
.center p{
    vertical-align: middle;
    display: inline-block;
    color:rgb(255,255,255);
    font-size: 20px;
   
}