h1{
    color:rgb(255, 204, 64);
    
}
body{
    background-color: rgb(210, 239, 252);
}

.center{
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}
.center p{
    vertical-align: middle;
    display: inline-block;
   
}